.vs
bin
obj
node_modules
yarn.lock
yarn-error.log
/RTProSL.Presentation/ClientApp/package-lock.json
/RTProSL.Presentation/ClientApp/yarn-error.log
/RTProSL.Presentation/ClientApp/node_modules
/RTProSL.Presentation/ClientApp/yarn.lock
*.pdf
*.xml
/RTProSL.Presentation/Properties/PublishProfiles
/RTProSL.Presentation/buildtime.txt
/RTProSL.Presentation/RTProSL.Presentation.csproj.user
/RTProSL.Presentation/appsettings.Development.json
/RTProSL.Presentation/wwwroot/AR
/RTProSL.Presentation/wwwroot/firebase-messaging-sw.js
/RTProSL.Presentation/wwwroot/HttpLargeResponse
/RTProSL.Presentation/wwwroot/static
/RTProSL.Presentation/wwwroot/CopyFiles.bat
/RTProSL.Presentation/wwwroot/favicon.ico
/RTProSL.Presentation/wwwroot/index.html
/RTProSL.Presentation/wwwroot/manifest.json
/RTProSL.Presentation/wwwroot/spinner.css
/RTProSL.Presentation/wwwroot/web.config
/RTProSL.Presentation/wwwroot/Images
/RTProSL.Presentation/wwwroot/column.xlsx
